* {
    cursor: auto;
}

::backdrop {
  background-color: rgba(79, 33, 135, 0.959);
}
p {
    color: white;
    font-size: 30px;
    font-family: fantasy;
    font-display: fallback;
    stroke: rgba(0, 0, 0, 0.959);
    }